<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="description" content="Calculator-App">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Calculator</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="container">
			<div class="box">
				<p id="numberInput">
					<input type="text" readonly size="18" id="display">
				</p>
				<section class="row">
					<button onclick="memRemember()">mr</button>
					<button onclick="memPlus()">m+</button>
					<button onclick="memSave()">ms</button>
					<button onclick='append("/")'>/</button>
				</section>
				<section class="row">
					<button onclick='append(7)'>7</button>
					<button onclick='append(8)'>8</button>
					<button onclick='append(9)'>9</button>
					<button onclick='append("*")'>*</button>
				</section>
				<section class="row">
					<button onclick='append(4)'>4</button>
					<button onclick='append(5)'>5</button>
					<button onclick='append(6)'>6</button>
					<button onclick='append("-")'>-</button>
				</section>
				<section class="row">
					<button onclick='append(1)'>1</button>
					<button onclick='append(2)'>2</button>
					<button onclick='append(3)'>3</button>
					<button onclick='append("+")'>+</button>
				</section>
				<section class="row">
					<button onclick='append(0)'>0</button>
					<button onclick='append(".")'>.</button>
					<button onclick='replace("")'>C</button>
					<button onclick='equals()'>=</button>
				</section>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="js/main.js"></script>
</html>
